.container-pizza {
    margin: 20px auto;
}

.pizza-navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.cart-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}


.modalAddShow {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    position: fixed;
    background-color: forestgreen;
    color: white;
    display: none;
    z-index: 1001;
    text-align: center;
    padding-top: 20px;
    opacity: 0.8;
    top: 20%;
    left: 45%;
    font-size: 30px;

    
}

@media (max-width: 700px) {
    .pizza-navigation {
        display: block;
        max-width: 300px ;
        margin: 0 auto;
    }
    
}

