.buttonCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px #afecfa;
    transition: all 0.1s;
    font-size: 20px;
    margin: 0 20px;
    border: 3px solid #afecfa;
}
.buttonCounter:active {
    background-color: rgba(175, 236, 250, 0.5);
    box-shadow: none;
    
}

.buttonChoice {
    background-color: #afecfa;
    box-shadow: none;
    top: 2px;
}

.buttonCounter:hover{
    transition: all 0.5;
    position: relative;
    cursor: pointer;
}