body {
  background-color: #adeaf7;
  font-family: 'RocknRoll One', sans-serif;
}

.wrapper{
  min-width: 370px;
  max-width: 1200px;
  min-height: 1000px;
  height: 100%;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px white;
}

* a{
  text-decoration: none;
  color: black;
}